.tech-stack {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px 0 0;
    flex-wrap: wrap;
}

.box {
    width: 390px;
    height: 250px;
    border: 1px solid #ccc;
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box .subtitle {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.tech-stack-image {
    margin: 10px;
}

.heading-link {
    display: none;
}
