---
import EnvelopeSimple from 'phosphor-astro/EnvelopeSimple.astro'
import LinkedinLogo from 'phosphor-astro/LinkedinLogoBold.astro'
import GithubLogo from 'phosphor-astro/GithubLogoDuotone.astro'
---

<div class="basis-1/2 flex flex-col justify-center items-center">
    <img class="w-1/2 mx-auto rounded-full" src="/public/luca2.jpg" alt="Luca"/>
    <div class="flex justify-center items-center space-x-12 mt-8">
        <a href="mailto:lucacg@pm.me" target="_blank" class="text-gray-600 hover:text-blue-500">
            <EnvelopeSimple class="w-12" />
        </a>
        <a href="https://www.linkedin.com/in/lucagonzalezdev" target="_blank" class="text-gray-600 hover:text-blue-500">
            <LinkedinLogo class="w-12" />
        </a>
        <a href="https://github.com/lucagonzalez" target="_blank" class="text-gray-600 hover:text-blue-500">
            <GithubLogo class="w-12" />
        </a>
    </div>
</div>
